/* anime page, profile page, list page, top anime page, friend status */
#curEps, .text.anime, .data.progress, .information.di-ib.mt4, .work-status {
  visibility: hidden;
}

.text.manga.reading, .text.anime.watching {
  visibility: hidden;
}

/* anime search page */
.prodsrc .info .item:last-child {
  visibility: hidden;
}

/* main page */
span.info.pt8 {
  visibility: hidden;
}

.my_list_updates .item .info p:nth-child(2) {
  visibility: hidden;
}

/* interest stack */
.list-anime-list .info {
  visibility: hidden;
}